<% @blogs.each do |blog| %>
<div class="row">
<div class="card col-md-3 " style="width: 26rem;">
  <%= image_tag blog.image.url %>
  <div class="center">
    <p><i class="far fa-user"></i> <%= blog.user.name %></p>
    <p><i class="far fa-file-alt"></i> <%= blog.content %></p>

    <%= link_to blog_path(blog.id) do %>
      <i class="far fa-check-square"></i>
    <% end %>

  <% if blog.user.id == current_user.id %>
  <%= link_to  edit_blog_path(blog.id) do %>

    <i class="far fa-edit"></i>
  <% end %>

  <%= link_to blog_path(blog.id), method: :delete do %>
    <i class="far fa-trash-alt"></i>
  <% end %>
 <% end %>
    </div>
  </div>
  </div>
    <% end %>
