<h1>About Post</h1>

<%= image_tag @blog.image.url%></p>
<p>content: <%= @blog.content %></p>

<% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <i class="fas fa-heartbeat"></i><%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete%>
  <% else %>
    <i class="far fa-heart"></i><%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post %>
  <% end %>
<% end %>

<%= link_to 'Back to Top page', blogs_path %>
