<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_with(model: @user, local: true) do |f| %>
<div class="box">
  <%= f.label :icon %>
  <%= f.file_field :icon %>
</div>
<div class="box">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="box">
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>
<div class="box">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<div class="box">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>
<div class="box">
  <%= f.submit "Create my account",class:"btn btn-info" %>
</div>
<% end %>
