<p><%= image_tag  @user.icon.url %></p>

<p><%= @user.name %>のページ</p>

<p>メールアドレス: <%= @user.email %></p>


<% if @user.id == current_user.id %>
<%= link_to 'プロフィールを編集する',edit_user_path %>
<%= link_to 'アカウントを削除する', user_path(@user.id), method: :delete %>
<% end %>
<%= link_to '投稿一覧に戻る',blogs_path %>
